<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>FotoAlbum</title>
</head>
<body>
	<header th:fragment="header()" class="mb-3">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container">
		    <a class="navbar-brand" href="/photo">FOTOALBUM</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="text-secondary">
		  		<span class="fst-italic">Utente: </span><span class="fst-italic me-2" sec:authentication="principal.authorities"></span>
		  	</div>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a th:href="@{/photo}" class="nav-link active" aria-current="page">Foto</a>
		        <a th:href="@{/category}" class="nav-link active" aria-current="page">Categorie</a>
		        <a th:href="@{/login}" class="nav-link" href="#">Login</a>
		        <a th:href="@{/logout}" class="nav-link" href="#">Logout</a>
		      </div>
		    </div>
		  </div>
		</nav>
    </header>
</body>
</html>